.first_page{
  height: max-content;
  color:white;
  background-color: rgb(161, 36, 139);
}
.container__{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

@media screen and (max-width:768px){
  .container__{
    display: flex;
    flex-direction: column;
  }

  
  
}